* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
::placeholder {
  color: rgb(187, 187, 184) !important;
}
body {
  display: flex;
  flex-wrap: wrap;
}
.main h4,
.main h1 {
  font-weight: 400;
  margin-bottom: 10px;
}
.twobox {
  display: flex;
  padding: 5px;
  gap: 10px;
}
.twobox div {
  text-align: center;
  padding: 20px;
  flex: 1;
}
.twobox div.inc {
  color: rgb(10, 192, 4);
}
.twobox div.exp {
  color: rgb(233, 3, 3);
}
.d-flex {
  place-items: center;
  gap: 20px;
}
.d-flex button {
  margin-top: 15px;
  width: 45%;
}
.details {
  display: flex;
  flex-direction: column;
}
.trans {
  list-style-type: none;
}
.trans li {
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  margin: 6% 0;
}
.trans li.inc {
  border: 1px solid rgb(3, 185, 3);
  border-radius: 10px;
}
.trans li.exp {
  border: 1px solid rgb(240, 18, 3);
  border-radius: 10px;
}
.btn-del {
  position: absolute;
  background-color: red;
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  line-height: 50%;
  color: white;
  opacity: 0;
}
.trans li:hover .btn-del {
  opacity: 1;
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(2, 129, 248);
  border-radius: 10px;
}
